$float: left;
$full: 100%;
$offset: 3;
$primaryColor: #0e5ba4;
$a-tags: 'a, a:active, a:visited';
$condensed: "HelveticaNeue-CondensedBlack", "Helvetica Neue", Helvetica, Arial, sans-serif;
$mainWidth: 75%;
$contentHeight: 418px;
$borderBox: border-box;
$relative: relative;
$absolute: absolute;
